.listaMenuMobile {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.listaMenuMobile .MenuMobileItem {
    margin: .5rem;
    padding: 1rem;
    background: #1a202c;
    border-radius: .5rem;
}

.listaMenuMobile .MenuMobileItem:hover {
    background: #2d3748;
}

.listaMenuMobile .MenuMobileItem a {
    color: #f2f2f2;
    font-weight: bold;
    font-size: 1.5rem;
}