:root{
    --Branco: #fff;
    --Concrete: #f2f2f2;
    --Woodsmoke: #121212;
    --PacificBlue: #009EC8;
}

#main-blog {
    margin-top: 5.4rem;
}

#main-blog #section-blog {
    padding: 3rem 0;
    background: var(--Concrete);
    border-top: 10px solid var(--PacificBlue);
}

#main-blog #section-blog aside {
    padding: 0;
}

#main-blog #section-blog aside .card {
    background: #f3f5f6;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px,#fafbfc 25px,#fafbfc 50px);
}

#main-blog #section-blog aside .card a img {
    margin: 1rem;
    align-self: center;
    border-radius: 50%;
    display: inline-block;
}

#main-blog #section-blog aside .card img:hover {
    z-index: 1;
    cursor: pointer;
    transition: box-shadow .2s ease-in-out;
    box-shadow: 0 0 0 12px rgba(43,43,43,.08);
}

#main-blog #section-blog aside .card .card-body {
    background-color: var(--Branco);
}

#main-blog #section-blog aside .card .card-body .card-title {
    font-family: 'Times New Roman', Times, serif;
}

#main-blog #section-blog aside .card .card-body a {
    font-size: .8rem;
    font-weight: bold;
    color: var(--Concrete);
    text-transform: uppercase;
    background-color: var(--PacificBlue);
    font-family: Helvetica, sans-serif;
}

#main-blog #section-blog #postagens-blog {
    padding: 0;
}

#main-blog #section-blog #postagens-blog .card .row .post-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../src/img/img-cinza.png);
}

#main-blog #section-blog #postagens-blog .card .row .conteudo .card-body .card-title a {
    color: var(--Woodsmoke);
    text-decoration: none;
}

#main-blog #section-blog #postagens-blog .card .row .conteudo .card-body .card-text {
    height: 8rem;
    padding: .5rem;
    overflow: hidden;
    position: relative;
    text-align: justify;
    padding-right: 1.5rem;
}

#main-blog #section-blog #postagens-blog .card .row .conteudo .card-body .card-text::before {
    right: 0;
    bottom: 0;
    content: '..."';
    position: absolute;
}

#main-blog #section-blog #postagens-blog .card .row .conteudo .card-footer {
    background-color: var(--PacificBlue);
}

#main-blog #section-blog #postagens-blog .card .row .conteudo .card-footer p small {
    font-weight: bold;
    color: var(--Concrete);
}

#main-blog #section-blog #postagens-blog .card .row .conteudo .card-footer p a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--Concrete);
    text-transform: uppercase;
}

#main-blog #section-blog #postagens-blog .card .row .conteudo .card-footer p a:hover {
    font-weight: bold;
}