.img-project {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: top;
  transition: ease-in-out 5s;
}

.img-project:hover {
  background-position: bottom;
}

#project-doe {
  background-image: url(../img/img-projects/site-doe.png);
}

#project-hdc-agency {
  background-image: url(../img/img-projects/site-hdc-Agency.png);
}

#project-flex-turismo {
  background-image: url(../img/img-projects/site-flex-turismo.png);
}

#project-interface-youtube {
  background-image: url(../img/img-projects/site-interface-youtube.png);
}

#project-galleria {
  background-image: url(../img/img-projects/site-galleria.png);
}

#project-jobs-calc {
  background-image: url(../img/img-projects/site-job-calcs.png);
}

#project-course-manager {
  background-image: url(../img/img-projects/site-course-maneger.png);
}

#project-saudeamais {
  background-image: url(../img/img-projects/site-saudeamais.png);
}

#project-sgu {
  background-image: url(../img/img-projects/site-sgu.png);
}

#project-login-instagram {
  background-image: url(../img/img-projects/site-login-instagram.png);
}

#project-linkdev {
  background-image: url(../img/img-projects/site-linkdev.png);
}

#project-alurakut {
  background-image: url(../img/img-projects/site-alurakut.png);
}

#project-devradar {
  background-image: url(../img/img-projects/site-devradar.png);
}

#project-letmeask {
  background-image: url(../img/img-projects/site-letmeask.png);
}

#project-batfamily {
  background-image: url(../img/img-projects/site-batfamily.png);
}

#project-jobfinder {
  background-image: url(../img/img-projects/site-jobfinder.png);
}

#project-dev-finance {
  background-image: url(../img/img-projects/site-dev-finance.png);
}

#project-be-the-hero {
  background-image: url(../img/img-projects/site-be-the-hero.png);
}

#project-netflix-clone {
  background-image: url(../img/img-projects/site-netflix-clone.png);
}

#project-denmark-apparel {
  background-image: url(../img/img-projects/site-denmark-apparel.png);
}

#project-jogo-da-cobrinha {
  background-image: url(../img/img-projects/site-jogo-da-cobrinha.gif);
}
