:root{
    --Branco: #fff;
    --CodGray: #0D0D0D;
    --Concrete: #f2f2f2;
    --PacificBlue: #009EC8;
}

#main-sobre {
    margin-top: 5.4rem;
}

#main-sobre #section-sobre {
    padding: 3rem 0;
    background: var(--Concrete);
    border-top: 10px solid var(--PacificBlue);
}

#main-sobre #section-sobre aside {
    padding: 0;
}

#main-sobre #section-sobre aside .card {
    background: #f3f5f6;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px,#fafbfc 25px,#fafbfc 50px);
}

#main-sobre #section-sobre aside .card a img {
    margin: 1rem;
    align-self: center;
    border-radius: 50%;
    display: inline-block;
}

#main-sobre #section-sobre aside .card img:hover {
    z-index: 1;
    cursor: pointer;
    transition: box-shadow .2s ease-in-out;
    box-shadow: 0 0 0 12px rgba(43,43,43,.08);
}

#main-sobre #section-sobre aside .card .card-body {
    background-color: var(--Branco);
}

#main-sobre #section-sobre aside .card .card-body .card-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#main-sobre #section-sobre aside .card .card-body a {
    font-size: .8rem;
    font-weight: bold;
    color: var(--Concrete);
    text-transform: uppercase;
    background-color: var(--PacificBlue);
    font-family: Helvetica, sans-serif;
}

#main-sobre #section-sobre #about-me {
    margin: .5rem;
    padding: 4rem;
    background: var(--Branco);
}

#main-sobre #section-sobre #about-me h1 {
    text-align: start;
    margin-bottom: 2rem;
}

#main-sobre #section-sobre #about-me h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: start;
    margin-bottom: 2rem;
    color: var(--PacificBlue);
}

#main-sobre #section-sobre #about-me p {
    font-size: 1.2rem;
    text-align: start;
}