*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --Preto: #000;
    --Quantum: #111111;
    --Cinzento: #323232;
    --AzulCiano: #0d6efd;
    --BrancoFumaca: #f5f5f5;
}

#particles-js {
    position:fixed;
    background: var(--Preto);
}

#container-cards {
    background: var(--Preto);
}

.card {
    width: 16rem;
}

.navbar {
    bottom: 0;
}

.navbar-brand {
    font-size: 0.8rem;
}

.navbar-brand span{
    font-size: 0.8rem;
}

#back-to-top {
    right: 1rem;
    bottom: 4rem;
    z-index: 1000;
    position: fixed;
    border-radius: 50%;
    color: var(--AzulCiano);
    background: var(--Quantum);
    border: 2px solid var(--AzulCiano);
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    transition: background-color .3s, opacity .5s, visibility .5s;
}

/*Modal Card 01 --------------------------------------------------------------------*/

.modal-header {
    border-bottom: none;
}

#card01 .modal-body .container-fluid .row .col-md-4 {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: center;
    background: var(--Quantum);
    /*border: 1px solid black;*/
}

#card01 .modal-body .container-fluid .row .col-md-4 #tecnologias {
    height: 10rem;
    display: flex;
    margin: 0.1rem;
    flex-direction: row;
    align-items: center;
    /*border: 1px solid black;*/
    justify-content:space-evenly;
}

#card01 .modal-body .container-fluid .row .col-md-4 #tecnologias #tec-img {
    padding: 0;
    width: 6rem;
    margin: 0rem;
    height: 2rem;
    border: none;
    display: flex;
    border-radius: 0%;
    /*border: 1px solid black;*/
}

#card01 .modal-body .container-fluid .row .col-md-4 img {
    margin: 1rem;
    width: 12rem;
    height: 12rem;
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid var(--Cinzento);
}

#card01 .modal-body .container-fluid .row .col-md-6 {
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    background: var(--Cinzento);
    justify-content:space-evenly;
    /*border: 1px solid black;*/
}

.modal-footer {
    border-top: none;
}

/*End Modal Card 01 --------------------------------------------------------------------*/

/*Modal Card 02 ------------------------------------------------------------------------*/

#card02 .modal-dialog .modal-content .modal-body .row .card .card-body #album-card-text {
    height: 6rem;
    font-weight: 500;
    font-size: 0.8rem;
    text-align:start;
}

#card02 .modal-dialog .modal-content .modal-body .row .card .card-body #album-card-text span {
    font-weight: 500;
    font-size: 0.7rem;
}

/*End Modal Card 02 --------------------------------------------------------------------*/

/*Modal Card 03 ------------------------------------------------------------------------*/

#card03 .modal-dialog .modal-content .modal-body .container .row .col {
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
}

#card03 .modal-dialog .modal-content .modal-body .container .row .col .card .card-body {
    display: flex;
    justify-content: space-evenly;
}

#card03 .modal-dialog .modal-content .modal-body .container .row .col .card .card-body #card-logo {
    display: flex;
    align-items: flex-start;
    /*border: 1px solid black;*/
}

#card03 .modal-dialog .modal-content .modal-body .container .row .col .card .card-body #card-logo img{
    width: 4rem;
    height: 4rem;
    /*border: 1px solid black;*/
}

#card03 .modal-dialog .modal-content .modal-body .container .row .col .card .card-body #card-body-text {
    display: flex;
    padding: 0 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    /*border: 1px solid black;*/
}

#card03 .modal-dialog .modal-content .modal-body .container .row .col .card .card-body #card-body-text h5 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

#card03 .modal-dialog .modal-content .modal-body .container .row .col .card .card-body #card-body-text p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

#card03 .modal-dialog .modal-content .modal-body .container .row .col .card .card-body #card-body-text span {
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--Preto);
}

#card03 .modal-dialog .modal-content .modal-body .container .row .col .card .card-body .visitar-site{
    width: 3.5rem;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    /*border: 1px solid black;*/
}

#card03 .modal-dialog .modal-content .modal-body .container .row .col .card .card-body .visitar-site a{
    font-size: 0.8rem;
    /*border: 1px solid black;*/
}

#card03 .modal-dialog .modal-content .modal-body .container #certificates .col .card .card-body{
    font-size: 0.8rem;
    /*border: 1px solid black;*/
}

#card03 .modal-dialog .modal-content .modal-body .container #certificates {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid black;*/
}

#card03 .modal-dialog .modal-content .modal-body .container #certificates .col .card .card-body span {
    height: 3rem;
    display: flex;
    margin: 0 0.5rem;
    text-align: center;
    align-items: center;
    /*border: 1px solid black;*/
}

#card03 .modal-dialog .modal-content .modal-body .container #certificates .col .card .card-body span img {
    height: 2rem;
    margin: 0 1rem;
}

#card03 .modal-dialog .modal-content .modal-body .container #certificates .col .card .card-body span a {
    font-weight: 500;
    text-decoration: none;
    color: var(--AzulCiano);
}

/*End Modal Card 03 --------------------------------------------------------------------*/