/* Gerais */

:root {
    --Java: #03B5b7;
    --Green: #008000;
    --Masala: #3E3E3E;
    --CapeCod: #464646;
    --CodGray: #0D0D0D;
    --Concrete: #F2F2F2;
    --Lochmara: #427BC0;
    --MineShaft: #2C2F30;
    --PacificBlue: #009EC8;
}

@font-face {
    font-display: swap;
    font-weight: normal;
    font-style : normal;
    font-family: "font-awesome";
    src: url('../fonts/font-awesome.woff') format('woff'), url('../fonts/font-awesome.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 1rem;
    background-color: transparent;
}

.container-fluid {
    padding: 0;
}

.more-btn {
    border: none;
    width: 10rem;
    height: 2.5rem;
    transition: .5s;
    cursor: pointer;
    font-size: .6rem;
    padding: .6rem 1rem;
    border-radius: 1.8rem;
    text-decoration: none;
    color: var(--Concrete);
    text-transform: uppercase;
    background: linear-gradient(-90deg, var(--Java) 0%, var(--Lochmara) 100%);
}

.more-btn i {
    padding-right: .3rem;
}

.card-title, .card-text {
    font-weight: 500;
    color: var(--CodGray);
}

#back-to-top {
    z-index: 1;
    width: 3rem;
    height: 3rem;
    bottom: 4rem;
    right: 1.5rem;
    position: fixed;
    padding-top: .5rem;
    border-radius: 50%;
    text-align: center;
    color: var(--Concrete);
    border: 1px solid var(--Concrete);
    background-color: var(--PacificBlue);
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    transition: background-color .3s, opacity .5s, visibility .5s;
}

#back-to-top:hover {
    background-color: var(--Java);
}

#whatsapp-button {
    z-index: 1;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    bottom: 8.5rem;
    position: fixed;
    font-size: 1.5rem;
    padding-top: .3rem;
    border-radius: 50%;
    text-align: center;
    color: var(--Concrete);
    background-color: var(--Green);
    border: 1px solid var(--Concrete);
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    transition: background-color .3s, opacity .5s, visibility .5s;
}

#whatsapp-button:hover {
    background-color: rgb(1, 153, 1);
}

.btn-danger {
    color: var(--Concrete);
    background-color: #dc3545;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
}

/* Barra de Navegação */

header, .navbar {
    background-color: var(--CodGray);
    box-shadow: 0px 0px 5px 0px #000;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#nav-container .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    margin: 0 .2rem;
    font-weight: bold;
    transition: all .5s;
    color: var(--Concrete);
    text-transform: uppercase;
    background-color: var(--CodGray);
}

#nav-container .navbar .container-fluid .collapse .navbar-nav .nav-item .active {
    color: var(--PacificBlue);
}

#nav-container .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
    border-radius: .5rem;
    color: var(--PacificBlue);
    background-color: var(--MineShaft);
}

#nav-container .navbar .container-fluid .collapse .navbar-nav .nav-item .active:hover{
    background-color: var(--CodGray);
}

#logo {
    width: 3.5rem;
    height: 3.5rem;
    padding: .1rem;
    transition: .5s;
    margin-left: 1rem;
    border-radius: 50%;
    border: 2px outset var(--PacificBlue);
}

#logo:hover {
    width: 4rem;
    height: 4rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-nav {
    margin: 1rem;
}

/*Simple effect parallax with css*/
#services-banner, #thanks-banner, #projects-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: url('../img/services-banner.jpg');
}

/* Main Banner */

#main-banner {
    height: 100%;
    padding: 2rem;
    margin-top: 5rem;
    position: relative;
    background-size: cover;
    background-position: 0 55%;
    box-shadow: .5px .5px #000;
    background-repeat: no-repeat;
    background-image: url('../img/main-banner.webp');
}

#main-banner #apresentation {
    margin: auto;
    position: relative;
    text-align: center;
}

#main-banner #apresentation img {
    width: 8rem;
    height: 8rem;
}

#main-banner #apresentation h1 {
    color: var(--PacificBlue);
    font-weight: bold;
    margin-bottom: 4rem;
    text-transform: uppercase;
    text-shadow: 3px 3px rgb(10, 10, 10);
}

#main-banner #apresentation h1 span {
    font-size: .9rem;
}

#main-banner #apresentation .more-btn:hover {
    color: var(--Concrete);
}

/* Serviços do Site */

#services-container .card .card-body .card-text {
    height: 12rem;
}

/* Footer */

footer {
    height: 100%;
    background-color: var(--CodGray);
    border-top: 4px solid var(--PacificBlue);
}

footer .container-fluid .row #footer-menu ul li p {
    font-size: .8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--Concrete);
}

footer .container-fluid .row #footer-menu .nav {
    margin-top: 1rem;
}

footer .container-fluid .row #footer-menu ul li a i {
    transition: .5s;
    font-size: 2rem;
    color: var(--Concrete);
}

footer .container-fluid .row #footer-menu ul li a i:hover {
    color: var(--PacificBlue);
}

/* Modal 01 - About-me */

#modal-card-01 .modal-header {
    border: none;
    background-color: var(--PacificBlue);
}

#modal-card-01 .modal-body {
    background-color: var(--CodGray);
}

#modal-card-01 #coluna-esquerda, #modal-card-01 #coluna-direita {
    text-align: center;
}

#modal-card-01 #coluna-esquerda #img-profile {
    padding: .3rem;
    margin-top: 1rem;
    border-radius: 50%;
    border: .3rem solid var(--PacificBlue);
}

#modal-card-01 #coluna-esquerda h4 {
    margin-top: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--PacificBlue);
    text-transform: uppercase;
}

#modal-card-01 #coluna-esquerda h5 {
    margin-top: 1rem;
    text-align: left;
    line-height: 1.5rem;
    color: var(--Concrete);
}

#modal-card-01 #coluna-esquerda #frase-autor {
    margin-top: 1rem;
    font-size: .8rem;
    text-align: right;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--PacificBlue);
    text-transform: uppercase;
}

#modal-card-01 #coluna-esquerda h5 span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--PacificBlue);
    font-family:'Franklin Gothic Medium';
}

#modal-card-01 #coluna-esquerda table {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--Concrete);
}

#modal-card-01 #coluna-esquerda table caption,
#modal-card-01 #coluna-direita table caption {
    font-size: .5rem;
    color: var(--Concrete);
    background-color: var(--CodGray);
}

#modal-card-01 #coluna-esquerda table thead tr th {
    padding: 1rem;
    font-size: .8rem;
    color: var(--CodGray);
}

#modal-card-01 #coluna-esquerda table tr td{
    width: 7rem;
    text-align: center;
    border: 1px solid var(--CodGray);
}

#modal-card-01 #coluna-esquerda table tr td:hover{
    border-radius: 1rem;
    background-color: #e9e9e9;
}

#modal-card-01 #coluna-esquerda table tr td a img{
    width: 2.5rem;
    margin: .3rem;
    height: 2.5rem;
}

#modal-card-01 #coluna-esquerda table tr td p{
    font-size: .7rem;
    font-weight: bold;
    color: var(--CodGray);
}

#modal-card-01 #coluna-direita h4 {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: left;
    font-weight: bold;
    color: var(--PacificBlue);
}

#modal-card-01 #coluna-direita p {
    font-size: 1rem;
    text-align: left;
    color: var(--Concrete);
}

#modal-card-01 #coluna-direita .more-btn:hover {
    color: var(--Concrete);
}

#modal-card-01 #coluna-direita table {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--Concrete);
}

#modal-card-01 #coluna-direita table thead tr th {
    padding: 1rem;
    font-size: .8rem;
    color: var(--CodGray);
    border-bottom: 1px solid var(--CodGray);
}

#modal-card-01 #coluna-direita table tr td{
    width: 4rem;
    padding: .5rem;
    text-align: center;
}

#modal-card-01 #coluna-direita table tr td a i {
    font-size: 2rem;
}

#modal-card-01 .modal-footer {
    border: none;
    background-color: var(--PacificBlue);
}

/* Modal 02 - Projects */

#modal-card-02 .modal-header {
    border: none;
    background-color: var(--PacificBlue);
}

#modal-card-02 .modal-body {
    background-color: var(--CodGray);
}

#modal-card-02 .modal-body .presentation{
    text-align: center;
}

#modal-card-02 .modal-body .presentation .row #main-projects h4{
    font-weight: bold;
    color: var(--Concrete);
}

#modal-card-02 .modal-body .presentation .row #main-projects h4 span {
    font-weight: bold;
    color: var(--PacificBlue);
}

#modal-card-02 .modal-body .presentation .row #main-projects p {
    color: var(--Concrete);
}

#modal-card-02 .modal-body .presentation .row .more-about-projects-links .more-btn:hover {
    color: var(--Concrete);
}

#modal-card-02 .modal-body #projects {
    margin-top: 1rem;
}

#modal-card-02 .modal-body .card {
    padding: 0;
    border: none;
    width: 16rem;
    margin: .5rem;
}

#modal-card-02 .modal-body .card .card-body {
    padding: 0;
    box-shadow: 0px 0px 5px 0px #000;
}

#modal-card-02 .modal-body .card .card-body .card-top {
    padding: 1rem;
    height: 14rem;
}

#modal-card-02 .modal-body .card .card-body .card-top h5, p {
    text-align: center;
}

#modal-card-02 .modal-body .card .card-body .card-top h5 {
    color: var(--CodGray);
}

#modal-card-02 .modal-body .card .card-body .card-top p {
    font-size: .9rem;
}

#modal-card-02 .modal-body .card .card-body .card-bottom {
    height: 4rem;
    padding: 1rem;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

#modal-card-02 .modal-body .card .card-body .card-bottom .more-btn:hover {
    color: var(--Concrete);
}

#modal-card-02 .modal-body .card .card-body .card-bottom #github-commits {
    width: 45%;
}

#modal-card-02 #modal-pagination {
    padding: 1rem;
    margin-top: 1rem;
}

#modal-card-02 #modal-pagination .page-item a {
    color: var(--PacificBlue);
}

#modal-card-02 .modal-footer {
    border: none;
    background-color: var(--PacificBlue);
}

/* Modal 03  - Estudies */

#modal-card-03 .modal-header {
    border: none;
    background-color: var(--PacificBlue);
}

#modal-card-03 .modal-body {
    background-color: var(--CodGray);
}

#modal-card-03 .modal-body .container #academic-formation {
    margin: 1rem;
    text-align: center;
}

#modal-card-03 .modal-body .container #academic-formation h4 {
    margin: 1rem 0;
    font-weight: bold;
    color: var(--Concrete);
}

#modal-card-03 .modal-body .container #academic-formation h4 span {
    font-weight: bold;
    color: var(--PacificBlue);
}

#modal-card-03 .modal-body .container #academic-formation .academic-card {
    padding: 1rem;
    margin: .5rem;
    border-radius: 1rem;
    background-color: var(--Concrete);
}

#modal-card-03 .modal-body .container #academic-formation .academic-card .card-top {
    height: 20rem;
}

#modal-card-03 .modal-body .container #academic-formation .academic-card .card-top h5 {
    margin-top: 1rem;
    text-align: center;
    color: var(--CodGray);
}

#modal-card-03 .modal-body .container #academic-formation .academic-card .card-top p {
    font-size: 1rem;
    text-align: center;
    color: var(--CodGray);
}

#modal-card-03 .modal-body .container #academic-formation .academic-card .card-bottom {
    height: 5rem;
    padding: 1.5rem;
}

#modal-card-03 .modal-body .container #certificates {
    margin: 1rem;
    text-align: center;
}

#modal-card-03 .modal-body .container #certificates h4 {
    margin: 1rem 0;
    color: #f2f2f2;
    font-weight: bold;
}

#modal-card-03 .modal-body .container #certificates h4 span {
    font-weight: bold;
    color: var(--PacificBlue);
}

#modal-card-03 .modal-body .container  #certificates .certificate-card {
    margin: .5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    background-color: var(--Concrete);
}

#modal-card-03 .modal-body .container #certificates .certificate-card p {
    margin: 1rem 0;
    color: var(--CodGray);
}

#modal-card-03 .modal-body .container #certificates .certificate-card a img {
    width: 3rem;
    margin-top: 2rem;
}

#modal-card-03 .modal-body .container .conquistas {
    margin: 1rem;
    text-align: center;
}

#modal-card-03 .modal-body .container .conquistas h4 {
    margin: 1rem 0;
    font-weight: bold;
    color: var(--Concrete);
}

#modal-card-03 .modal-body .container .conquistas h4 span {
    font-weight: bold;
    color: var(--PacificBlue);
}

#modal-card-03 .modal-body .container .conquistas .conquistas-card {
    margin-top: .5rem;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {

    #modal-card-03 .modal-body .container .conquistas .conquistas-card {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}

#modal-card-03 .modal-body .container .conquistas .card-imagem {
    width: 18rem;
    padding: .5rem;
}

#modal-card-03 .modal-body .container .conquistas .card-details {
    width: 18rem;
    padding: 2rem;
}

#modal-card-03 .modal-body .container .conquistas .card-details .card-text-details {
    color: var(--Concrete);
}

#modal-card-03 .modal-body .container .conquistas .card-details p {
    font-size: .8rem;
}

#modal-card-03 .modal-body .container .conquistas .card-buttons {
    width: 18rem;
    padding: 1rem;
    margin-top: auto;
    position: relative;
    margin-bottom: auto;
}

#modal-card-03 .modal-body .container .conquistas .card-buttons .card-btn-top,
#modal-card-03 .modal-body .container .conquistas .card-buttons .card-btn-botton {
    padding: 1rem;
    margin: .5rem 0rem;
}

#modal-card-03 .modal-body .container .conquistas .card-buttons .card-btn-top .certificate-buttons:hover,
#modal-card-03 .modal-body .container .conquistas .card-buttons .card-btn-botton .certificate-buttons:hover {
    color: var(--Concrete);
}

#modal-card-03 .modal-footer {
    border: none;
    background-color: var(--PacificBlue);
}

/* Modal 04 - Blog */

#modal-card-04 .modal-header {
    border: none;
    background-color: var(--PacificBlue);
}

#modal-card-04 .modal-body {
    background-color: var(--CodGray);
}

#modal-card-04 .modal-footer {
    border: none;
    background-color: var(--PacificBlue);
}

/* Modal 05 */

#modal-card-05 .modal-header {
    border: none;
    background-color: var(--PacificBlue);
}

#modal-card-05 .modal-body {
    background-color: var(--CodGray);
}

#modal-card-05 .modal-body .container-fluid #apresentation-contact {
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

#modal-card-05 .modal-body .container-fluid #apresentation-contact h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    text-transform: uppercase;
    color: var(--PacificBlue);
}

#modal-card-05 .modal-body .container-fluid #apresentation-contact .text-contact {
    font-size: 1.3rem;
    text-align: start;
    color: var(--Concrete) ;
}

#modal-card-05 .modal-body .container-fluid #apresentation-contact .row .col-12 .nav .nav-item a i {
    font-size: 2rem;
    color: var(--PacificBlue);
}

#modal-card-05 .modal-body .container-fluid #apresentation-contact .row .col-12 .nav .nav-item a i:hover {
    color: var(--Java);
}

#modal-card-05 .modal-body .container-fluid #form-contact {
    margin-bottom: 1rem;
}

#modal-card-05 .modal-body .container-fluid #form-contact form {
    text-align: start;
}

#modal-card-05 .modal-body .container-fluid #form-contact form .form-label {
    font-size: 1.3rem;
    color: var(--PacificBlue);
}

#modal-card-05 .modal-body .container-fluid #form-contact form .form-control {
    background: var(--CapeCod);
    border: 1px solid var(--Masala);
}

#modal-card-05 .modal-body .container-fluid #form-contact form #row-form-submit {
    text-align: center;
}

#modal-card-05 .modal-body .container-fluid #form-contact form .form-submit {
    width: 8rem;
    height: 3rem;
    font-size: .8rem;
}

#modal-card-05 .modal-body .container-fluid #find-me {
    text-align: center;
}

#modal-card-05 .modal-body .container-fluid #find-me .col h4 {
    color: var(--Concrete);
}

#modal-card-05 .modal-body .container-fluid #find-me .col iframe {
    width: 100%;
    border-radius: .5rem;
}

#modal-card-05 .modal-footer {
    border: none;
    background-color: var(--PacificBlue);
}

/* Modal 06 - Services */

#modal-card-06 .modal-header {
    border: none;
    background-color: var(--PacificBlue);
}

#modal-card-06 .modal-body {
    background-color: var(--CodGray);
}

#modal-card-06 .modal-body .container-fluid {
    padding: 1rem;
}

#modal-card-06 .modal-body .container-fluid .row {
    padding: 1rem;
    text-align: center;
}

#modal-card-06 .modal-body .container-fluid .row h4 {
    font-weight: bold;
    color: var(--Concrete);
}

#modal-card-06 .modal-body .container-fluid .row h4 span {
    font-weight: bold;
    color: var(--PacificBlue);
}

#modal-card-06 .modal-body .container-fluid .row .col .service-card {
    height: 20rem;
    padding: 1rem;
    transition: .5s;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background-color: var(--Concrete);
    border: 4px solid var(--Concrete);
}

#modal-card-06 .modal-body .container-fluid .row .col .service-card:hover {
    border: 4px solid var(--PacificBlue);
}

#modal-card-06 .modal-body .container-fluid .row .col .service-card p {
    height: 6rem;
}

#modal-card-06 .modal-body .container-fluid .row .col .service-card h5 {
    height: 3rem;
}

#modal-card-06 .modal-body .container-fluid .row .col .service-card i {
    font-size: 3rem;
    color: var(--PacificBlue);
}

#modal-card-06 .modal-body .container-fluid .row .col .service-card h5, p {
    color: var(--CodGray);
}

#modal-card-06 .modal-footer {
    border: none;
    background-color: var(--PacificBlue);
}

/* Thank you Page */

#thanks-banner .container-fluid {
    height: 45rem;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
}

#thanks-banner .container-fluid .row {
    padding: 1rem;
    margin: 8rem 0;
    border-radius: .5rem;
    background-color: var(--CodGray);
}

#thanks-banner .container-fluid .row #thank-you-card {
    padding: 1rem;
    background-color: var(--CodGray);
}

#thanks-banner .container-fluid .row #thank-you-card #thank-you-card-top h1, h2, h3, h4, h5 {
    margin-bottom: 1rem;
    color: var(--Concrete);
}

#thanks-banner .container-fluid .row #thank-you-card #thank-you-card-top h2 {
    font-size: 1.3rem;
}

#thanks-banner .container-fluid .row #thank-you-card #thank-you-card-bottom {
    height: 4rem;
    margin-top: 2rem;
    padding-top: 1rem;
}

#thanks-banner .container-fluid .row #thank-you-card #thank-you-card-bottom .thanks-btn:hover { 
    transition: .5s;
    color: var(--Concrete);
    background-color: transparent;
    border: 4px solid var(--PacificBlue);
}

/* Projects Page */

#projects-banner #portfolio-area {
    height: auto;
    margin-top: 4rem;
    text-align: center;
    background-color: var(--CodGray);
}

#about-project-title {
    padding: 1.5rem;
    background-color: var(--Concrete);
    box-shadow: 0px 0px 5px 0px #000;
}

#about-project-title h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

#about-project-title h1, 
#about-project-title p {
    color: var(--CodGray);
}

#filter-btn-box {
    display: flex;
    justify-content: center;
}

.filter-btn {
    margin: .5rem;
    box-shadow: 0px 0px 5px 0px #000;
}

#portfolio-area #filter-btn-box .filter-btn {
    width: auto;
    border: none;
    height: 40px;
    padding: 0 20px;
    font-weight: 600;
    min-width: 100px;
    line-height: 40px;
    text-transform: none;
    color: var(--CodGray);
    border-radius: 1.5rem;
}

.project-box .project-banner {
    box-shadow: 0px 0px 5px 0px #000;
}

#portfolio-area #filter-btn-box .filter-btn.active, 
#portfolio-area #filter-btn-box .filter-btn:hover {
    border: none;
    color: var(--Concrete);
    background-color: var(--PacificBlue);
}

.aboutProject {
    display: flex;
    height: 15rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Concrete);
}

.aboutProject h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--CodGray);
}

.aboutProject p {
    height: 6rem;
    font-size: .8rem;
}

.aboutProject ul {
    padding: 0;
    height: 3rem;
    display: flex;
    line-height: 2.5rem;
    justify-content: space-evenly;
}

.aboutProject ul li {
    list-style: none;
    font-weight: bold;
}

.aboutProject ul li img {
    width: 2rem;
    height: 2rem;
}

.aboutProject ul li .more-btn:hover {
    color: var(--Concrete);
}

.page-link {
    color: var(--PacificBlue);
    background-color: var(--Concrete);
}

.page-link:hover {
    color: var(--PacificBlue);
}

.page-item.active .page-link {
    border-color: var(--PacificBlue);
    background-color: var(--PacificBlue);
}